# Lectra Dashboard Environment Variables

# Tuya API Credentials
TUYA_CLIENT_ID=c9mhynvtxr39sgk939vr
TUYA_ACCESS_TOKEN=b8907438b50841afcf309cf6a3d27497
TUYA_DEVICE_ID=eb4d3c6ac2d0b102fct3tt

# Docker Compose Variables
ENVIRONMENT=production
